<html>
  <h1> The Score </h1>
  <p> <%= "Your score is " + score %> </p>

  <form>
    Pins knocked down: <br>
    <input type="text" 
    name="pins_knocked"> <br>
    <input type="submit" value="Submit">
  </form>
</html>
